body{
    margin: 0;
    padding: 0;
    background-color: #3b3a3a;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

/*Header section*/
.header{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 52px;
}
.sub-header{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 22px;
}

/* main game board section*/

.game-board{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content:center;
    gap:200px;
    /*border: solid blue;*/

}

/*Select rock paper scissors section*/

.player-board{
    display: flex;
    flex-direction: column;
    /*border: solid red;*/
    align-items: center;
    

}
.player-choice{
    display: flex;
    flex-direction: row;
    /*border: solid coral;*/
    justify-content: space-between;

}
.button{
    /*border: solid coral;*/
    width:150px;

}
.player{
    display: flex;
    flex-direction: column;
    /*border: solid red;*/
    align-items: center;

}

/* Player display section*/

.display-player{
    display: flex;
    flex-direction: column;
    /*border: solid red;*/
    align-items: center;
    width:250px;

}

.player-heading{
    font-size: 32px;
}
.player-choiceDisplay{
    width:100px;
    height:80px;
    /*border: solid coral;*/
}
.playerChoicePic{
    width:100px;
   /* border: solid coral;*/
}

.playerChoiceName{
    display: flex;
    justify-content: center;
}


/*CPU display section*/

.display-CPU{
    display: flex;
    flex-direction: column;
    /*border: solid red;*/
    align-items: center;
    width:250px;

}

.cpu-heading{
    font-size: 32px;
}
.cpu-choiceDisplay{
    width:100px;
    height:80px;
    /*border: solid coral;*/
}
.CpuChoicePic{
    width:100px;
    /*border: solid coral;*/
}
.CpuChoiceName{
    display: flex;
    justify-content: center;
}


/*Score board section*/
.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid red;*/
}
.score-header{
    font-size: 42px;

}
.scores{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 34px;
    /*border: solid coral;*/
}
.player-score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cpu-score{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 22px;
}

/*Footer section*/
.footer{
    
    position: absolute;
    bottom: 0;
    left: 46%;
    padding: 5px;
    align-items: center;

}

/*New Game button*/
.new-game{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.new-gamebtn{
    width: 100px;
    height:30px;
}



